<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ошибка</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body cz-shortcut-listen="true">

<style>
    body {
        background-color: #8ebc00;
        color: #8ebc00;
    }
</style>

<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand">Ошибка</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="container">
        <h2 class="display-3">Ошибка, что-то пошло не так</h2>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Вернуться на главную</a></p>
    </div>
</div>

</body>
</html>